{% load static %}

<header>
    <!-- Logo -->
     <a class="navbar-brand" href="#"><img src="{% static 'images/' %}" alt="Touched by Mel logo" class="logo"</a>
    <!-- Navbar -->
    <nav class="navbar navbar-light navbar-expand-sm bg-light">
        <a href="/" class="navbar-brand">
                    Whiskey Drop</a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
        <!-- <div> -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="active nav-item mr-2">
                    <a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Make Up
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Bridal</a>
                        <a class="dropdown-item" href="#">Natural</a>
                        <a class="dropdown-item" href="#">HD</a>
                        <a class="dropdown-item" href="#">Glam</a>
                    </div>
                </li>

                <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="">Sign In / Sign Up</a></li>
            </ul>
        </div>
        <div class="d-none d-md-block">
            <p class="navbar-text my-auto mr-2"><i>Great whiskey delivered to your door</i></p>
            <a href="/login">Sign In / Sign Up</a>
        </div>
        <!-- </div> -->
    </nav>
    <!-- Navbar end -->
</header>